<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todoapp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="vue-app">
        <div class="card mx-5 my-5">
            <h5 class="card-header bg-success">
                Todo List App
            </h5>
            <div class="card-body bg-info">
                <input type="text" v-model="input" placeholder="Enter text">
                <button type="button" @click="addTask()" class="btn btn-success">Create</button>

            </div>

        </div>
        <div class="card mx-5 my-5">
            <h5 class="card-header bg-success">
                List
            </h5>
            <div class="card-body bg-light">
                <ul class="showtext">
                    <li v-for="task in todo">{{task}}
                         <button type="button" class="btn btn-danger buttonstyle" @click="deleteTask(task)">Delete</button> </li>
                    </ul>
            </div>
             <div class="card-footer bg-primary">
                <button type="button" class="btn btn-danger buttonstyle" @click="remove()">Clear list</button>
            </div>  
        </div>
    </div>

 <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>