.showtext{
    list-style: none;
     padding:10px 20px;
      
     line-height: 35px;
    
    
}
.buttonstyle{
    float: right;
    padding: 0 8px;
     display: block;
     clear: both;
   margin-top:8px;
     margin-bottom: 8px;
}
